<p id="notice"><%= notice %></p>

<h1>Tweet Managements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweet_managements.each do |tweet_management| %>
      <tr>
        <td><%= tweet_management.name %></td>
        <td><%= tweet_management.description %></td>
        <td><%= link_to 'Show', tweet_management %></td>
        <td><%= link_to 'Edit', edit_tweet_management_path(tweet_management) %></td>
        <td><%= link_to 'Destroy', tweet_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet Management', new_tweet_management_path %>
