<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tweet_management.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tweet_management.description %>
</p>

<%= link_to 'Edit', edit_tweet_management_path(@tweet_management) %> |
<%= link_to 'Back', tweet_managements_path %>
